<!DOCTYPE html>
<html lang="en">

    <div th:replace="common/head.html"></div>

    <body>

        <div th:replace="common/nav.html"></div>

        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="font-weight-light">Yeet Shop Swedish</h1>
                        <p class="lead">We aren't Swedish, but we have sweet-ish deals!</p>
                    </div>
                </div>
            </div>
        </header>

<!-- Page Content -->
    <div class="container">
        <img align="middle" class="center" style="max-width:75%;text-align: center;margin: 10px auto 20px;display: block;" src="/chef.png" alt="Swedish chef holding a saw telling you that you have come to the wrong bjork"/>
    </div>

</body>
</html>